{
  "endOfLine": "lf",
  "printWidth": 120,
  "jsxSingleQuote": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindAttributes": ["enter", "enterFrom", "enterTo", "entered", "leave", "leaveFrom", "leaveTo"],
  "tailwindFunctions": ["cva", "twMerge"]
}
